---
import Facebook from '@/components/logos/Facebook.astro'
import Instagram from '@/components/logos/Instagram.astro'
import Tiktok from '@/components/logos/Tiktok.astro'
import Youtube from '@/components/logos/Youtube.astro'

const year = new Date().getFullYear()
---

<footer class='static w-full bg-white'>
  <div
    class='grid grid-rows-1 md:grid-cols-1 mx-auto py-8 max-w-6xl px-8 items-center justify-center'
  >
    <p
      class='flex text-center flex-col self-center md:text-left md:block text-lg'
    >
      COPYRIGHT © {year}
      <a href='https://tecnologicosudamericano.edu.ec/'>ISTS.</a> RESERVADOS TODOS
      LOS DERECHOS.
    </p>
    <nav
      class='flex row-start-1 justify-center gap-6 py-6 mx-auto md:col-start-2 md:justify-end'
    >
      <a
        href='https://www.facebook.com/ISTSLoja/'
        target='_blank'
        aria-label='Síguenos en Facebook'><Facebook class='size-11' /></a
      >
      <a
        href='https://www.tiktok.com/@ists_loja?lang=es'
        target='_blank'
        aria-label='Síguenos en Tiktok'><Tiktok class='size-11' /></a
      >
      <a
        href='https://www.instagram.com/istsloja/'
        target='_blank'
        aria-label='Síguenos en Instagram'><Instagram class='size-11' /></a
      >
      <a
        href='https://www.youtube.com/channel/UCyPiKg_MjMYdIfzu8W2cFjA'
        target='_blank'
        aria-label='Síguenos en Youtube'><Youtube class='size-11' /></a
      >
    </nav>
  </div>
</footer>
